﻿@model ShopRepository.Inventory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h3 style="color:red">Ցանկանու՞մ եք հեռացնել բոլոր @Model.Product.Name ապրանքները պահեստից</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Քանակ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            Անվանում
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Վերադառնալ պահեստ", "Index") 
        <input type="submit" style="position:relative; left: 50px; color: red;" value="Հեռացնել" class="btn btn-default" />    
    </div>
    }
</div>
