﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Inventory> x = ViewBag.Model;

    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "data",
        Url = Url.Action("Filter")
    };
}

<h2>Պահեստ</h2>

@using (Ajax.BeginForm(options))
{
    <input type="submit" value="Ֆիլտրել" />
    <table class="table">
        <tr>
            <th>      
                Կոդ
                <br />
                @Html.DropDownList("code", new SelectList(x.Select(m => m.Product_Code).ToHashSet()), " ")
            </th>
            <th>
                Անվանում
            </th>
            <th>
                Գույն
            </th>
            <th>
                Չափս
            </th>
            <th>
                Գին
            </th>
            <th>
                Նկարագրություն
            </th>
            <th>
                Քանակ
            <th></th>
        </tr>

        <tbody id="data">
            @Html.Action("Filter", new { code = Model })
        </tbody>
    </table>


}

@section scripts
{
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

