﻿@model ShopRepository.Inventory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Առք/Վաճառք</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table id="MyTable" >
        <tr>
            <th>@Html.LabelFor(model => model.Product_Code, "Կոդ", htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <th>@Html.LabelFor(model => model.Product.Name, "Անվանում", htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <th>@Html.LabelFor(model => model.Product.Color, "Գույն", htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <th>@Html.LabelFor(model => model.Size, "Չափս", htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <th>@Html.LabelFor(model => model.Quantity, "Քանակ", htmlAttributes: new { @class = "control-label col-md-2" })</th>
        </tr>
        <tr style="height: 50px;">
            <td>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product_Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product_Code, "", new { @class = "text-danger" })
                </div>
            </td>
            <td>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product.Name, "", new { @class = "text-danger" })
                </div>
            </td>
            <td>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product.Color, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product.Color, "", new { @class = "text-danger" })
                </div>
            </td>

            <td>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                </div>
            </td>
            <td>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </td>

        </tr>
    </table>
    <hr />

    <div style="left: 750px;" class="col-md-offset-2 col-md-10">
        <input type="submit" name="Purchase" value="Մուտք" class="btn btn-default" />
        <input type="submit" name="Sell" value="Վաճառել" class="btn btn-default" />
    </div>


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


}

<button class="add" style="position:relative; bottom: 50px;" onclick="Add()">+</button>
<br />

<div>
    @Html.ActionLink("վերադառնալ պահեստ", "Index")
</div>


<script>
    function Add() {
        var itm = document.getElementsByTagName("tr")[1];
        var cln = itm.cloneNode(true);
        document.getElementById("MyTable").appendChild(cln);
    }
</script>


